<header class="header container">
  <div class="header-box">
    <div class="header-logotip">
      <a href="" class="link">
        <img src="logo/Roca1.png  " height="50" width="100" />
      </a>
    </div>
    <div class="header-title-btn" data-modal-open>
      <h2 class="header-title">Representative office in Ukraine</h2>
      <a href="">
        <img src="/img/ukrainian-waving-flag-6.gif" height="20" />
      </a>
      <button type="button" class="signin-btn">
        <span class="signin-btn-text">Loign</span>
        <svg class="signin-icon" height="15" width="15">
          <use href="./img/symbol-defs.svg#icon-sign_in_icon-1"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
