<header class="header container">
  <div class="header-box">
    <div class="header-logotip">
      <a href="" class="link">
        <img src="logo/Roca1.png  " height="50" width="100" />
      </a>
    </div>
    <div class="header-title-btn">
      <h2 class="header-title lang-headerTitle">
        Representative office in Ukraine
      </h2>

      <button type="button" class="signin-btn" data-modal-open>
        <span class="signin-btn-text lang-loginBtnText">Loign</span>
        <svg class="signin-icon" height="15" width="15">
          <use href="./img/symbol-defs.svg#icon-sign_in_icon-1"></use>
        </svg>
      </button>
      <select class="change-lang js-langBtn">
        <option class="flag" value="ua">&#x1F1FA;&#x1F1E6;</option>
        <option value="en" selected>&#x1F1EC;&#x1F1E7;</option>
      </select>
    </div>
  </div>
</header>
