<!-- <div class="backdrop is-hidden" data-modal-lang>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-x" width="8" height="8">
        <use href=""></use>
      </svg>
    </button>
    <p class="modal-title">Choose language</p>
    <div class="lang">
      <p class="lang-title">Українська</p>
      <a href="">
        <img
          src="/img/ukrainian-waving-flag-6.gif"
          height="20"
          class="js-langBtn"
        />
      </a>
    </div>
  </div>
</div>
 -->
