<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-x" width="8" height="8">
        <use href=""></use>
      </svg>
    </button>
    <p class="modal-title lang-loginModalTitle">Loign to your account</p>

    <form class="modal-form js-modalForm">
      <div class="modal-input-wrapper">
        <label class="modal-label" for="user-mail"></label>
        <div class="modal-input-box">
          <input
            class="modal-input modal-input-area js-loginEmail lang-email"
            placeholder="email"
            type="email"
            name="email"
            id="email"
            required
          />
          <svg class="modal-input-icon" width="18" height="24">
            <use href=""></use>
          </svg>
        </div>
      </div>

      <div class="modal-input-wrapper">
        <label for="password"></label>
        <div class="modal-input-box">
          <input
            class="modal-input modal-input-area js-loginPassword lang-pass"
            placeholder="password"
            type="password"
            name="password"
            id="password"
            required
          />
          <svg class="modal-input-icon" width="18" height="24">
            <use href=""></use>
          </svg>
        </div>
      </div>
      <button type="submit" class="modal-btn js-modalBtn дфтп-loginBtnText">
        Login
      </button>
    </form>
  </div>
</div>
